
# please change all passwords

#MySQL
MYSQL_ROOT_PASSWORD=waggle
MYSQL_DB=waggle
MYSQL_USER=waggle
MYSQL_PASSWD=waggle
MYSQL_HOST=beehive-mysql


#cassandra
CASSANDRA_HOST=beehive-cassandra

#rabbitmq
RABBITMQ_HOST=beehive-rabbitmq
RABBITMQ_PORT=5672

# REGISTRATION_PUBKEY, specify filename only (located in ssh_keys/ directory)
REGISTRATION_PUBKEY=beehive-registration-key.pub


# auto approve
# When a waggle node connects to beehive for the first time, it needs to through a registration process.
# This registration process requires manual approval by a beehive admin. For developing and testing purposes
# nodes can be approves automatically. It is important to disable this function in a production environment !
ALWAYS_APPROVE=1
