[Unit]
Description=Beehive Plenario Sender
Requires=docker.service
After=docker.service
OnFailure=slack-notify-failure@%i.service

[Service]
Restart=on-failure
RestartSec=1m

Environment='CONTAINER=beehive-plenario-sender'
Environment='IMAGE=waggle/beehive-plenario-sender'

ExecStart=/bin/docker run \
  --log-driver=journald \
  --rm \
  --name=${CONTAINER} \
  --net beehive \
  -v /root/git/beehive-server/beehive-plenario-sender/:/usr/lib/waggle/beehive-server/beehive-plenario-sender/:ro \
  -v /mnt/beehive:/mnt/beehive:ro \
  -v /mnt/waggle:/mnt/waggle:ro \
  ${IMAGE}

[Install]
WantedBy=multi-user.target

