[Unit]
Description=Beehive Node Connect Notify
#Requires=beehive-flask.service
#After=beehive-flask.service
OnFailure=slack-notify-failure@%i.service

[Service]
Restart=on-failure
RestartSec=1m

ExecStart=/bin/python3 -u /root/git/beehive-server/data-pipeline/NodeConnectNotify.py -v

[Install]
WantedBy=multi-user.target
