[Unit]
Description=Beehive Cassandra Server
Requires=docker.service
After=docker.service
OnFailure=slack-notify-failure@%i.service

[Service]
Restart=on-failure
RestartSec=1m

Environment='CONTAINER=beehive-cassandra'
Environment='DATA=/mnt'

ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

ExecStart=/bin/docker run \
    --log-driver=journald \
    --rm \
    --name ${CONTAINER} \
    --net beehive \
    -v ${DATA}/cassandra/:/var/lib/cassandra/ \
    cassandra:3.2 -R

# TODO: Investigate these, and maybe add them to the 'run' command
#    --ulimit memlock=-1 \
#    --ulimit nofile=100000 \
#    --ulimit nproc=32768 \
#    --cap-add IPC_LOCK \

ExecStop=/usr/bin/docker stop --time=10 ${CONTAINER}

[Install]
WantedBy=multi-user.target
