[Unit]
Description=Beehive Monitor Queues
Requires=beehive-rabbitmq.service
After=beehive-rabbitmq.service
OnFailure=slack-notify-failure@%i.service

[Service]
Environment='DATA=/mnt'

Restart=on-failure
RestartSec=5

ExecStart=/bin/bash /root/git/beehive-server/monitors/monitor-queues.bash

[Install]
WantedBy=multi-user.target
