[Unit]
Description=beehive-nginx
Requires=docker.service
After=docker.service
OnFailure=slack-notify-failure@%i.service

[Service]
Environment='CONTAINER=beehive-nginx'
Environment='DATA=/mnt'


Restart=always
RestartSec=5

ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

ExecStart=/bin/docker run \
  --log-driver=journald \
  --rm \
  --name=${CONTAINER}  \
  --net beehive \
  -p 80:80 \
  -p 443:443 \
  -v /mnt/waggle/SSL/nginx/:/ssl \
  waggle/beehive-nginx /usr/sbin/nginx -g 'daemon off;'

ExecStop=/usr/bin/docker stop --time=10 ${CONTAINER}

[Install]
WantedBy=multi-user.target
