[Unit]
Description=Beehive Flask Watchdog

[Service]
Environment='CONTAINER=beehive-flask'
Environment='DATA=/mnt'

Restart=on-failure
RestartSec=5

# Temporarily substitute this correct URL with a hard-coded value for the server
# $(docker inspect --format "{{ .NetworkSettings.Networks.beehive.IPAddress }}" beehive-flask)

ExecStart=/bin/bash -c ' \
  while [ 1 ] ; do \
    sleep 2m ; \
    if [ $(curl --silent --max-time 10 http://beehive1.mcs.anl.gov/api/ | grep "Waggle Beehive" | wc -l) -ne 1 ] ; then \
      docker rm -f ${CONTAINER} ; \
      sleep 20 ; \
      docker rm -f beehive-nginx ; \
    fi \
  done'


[Install]
WantedBy=multi-user.target
