[Unit]
Description=Beehive Last SSH
Requires=beehive-cassandra.service beehive-mysql.service
After=beehive-cassandra.service beehive-mysql.service
OnFailure=slack-notify-failure@%i.service

[Service]
Restart=on-failure
RestartSec=1m

ExecStart=/bin/python3 -u /root/git/beehive-server/data-pipeline/LastSsh.py -v -v

[Install]
WantedBy=multi-user.target
