[Unit]
Description=beehive-cert
Requires=docker.service
After=docker.service

[Service]
Environment='CONTAINER=beehive-cert'
Environment='DATA=/mnt'


Restart=always


ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"


ExecStartPre=/bin/docker pull waggle/beehive-cert

ExecStart=/bin/docker run \
  --rm \
  -p 24181:80 \
  -v ${DATA}/waggle/SSL/:/usr/lib/waggle/SSL/ \
  --name ${CONTAINER} \
  --net beehive \
  waggle/beehive-cert /bin/bash -c 'cd /usr/lib/waggle/beehive-server/beehive-cert ; git pull ; ./cert-serve.py'


ExecStop=/usr/bin/docker stop --time=10 ${CONTAINER}

[Install]
WantedBy=multi-user.target
