[Unit]
Description=Beehive Last SSH
Requires=beehive-cassandra.service beehive-mysql.service
After=beehive-cassandra.service
OnFailure=slack-notify-failure@%i.service

[Service]
Restart=on-failure
RestartSec=1m

### Environment='CONTAINER=beehive-last-ssh'
### Environment='DATA=/mnt'

### ExecStartPre=-/bin/bash -c "/usr/bin/docker kill ${CONTAINER} > /dev/null 2>&1"
### ExecStartPre=-/bin/bash -c "/usr/bin/docker rm ${CONTAINER} > /dev/null 2>&1"

ExecStart=./data-pipeline/LastSsh.py -v'

### ExecStop=/usr/bin/docker stop --time=10 ${CONTAINER}

[Install]
WantedBy=multi-user.target
