[Unit]
Description=Beehive Flask Watchdog

[Service]
Environment='CONTAINER=beehive-flask-watchdog'
Environment='DATA=/mnt'

Restart=on-failure
RestartSec=5

# Temporarily substitute this correct URL with a hard-coded value for the server
# $(docker inspect --format "{{ .NetworkSettings.Networks.beehive.IPAddress }}" beehive-flask)

ExecStart=/bin/bash -c ' \
  while [ 1 ] ; do \
    sleep 2m ; \
    if [ $(curl --silent --max-time 10 localhost:/api/1/cassandra_time | wc -l) -ne "1" ] ; then \
      echo "failed - restarting flask & nginx..." ; \
      /bin/slack-ops ":exclamation: :dog2: flask-watchdog restarting flask" ; \
      systemctl restart beehive-flask ; \
      systemctl restart beehive-nginx ; \
      sleep 90 ; \
    fi \
  done '

[Install]
WantedBy=multi-user.target
