[Unit]
Description=Service Failure Slack Notifier
After=network.target

[Service]
Type=simple
ExecStart=/bin/slack-ops ":exclamation: Service failure: %i"
