[Unit]
Description=Log Monitor
Requires=systemd-journald.service
After=systemd-journald.service

[Service]
Restart=always
RestartSec=1s
ExecStart=/root/monitor-logs

[Install]
WantedBy=multi-user.target
