<!DOCTYPE html>
<html lang="en">
<head>
   <style>
        table {    border-collapse: collapse; }
        table, td, th { border: 1px solid black; padding: 1px 5px;}
        h3 { color: red; }
    </style>
    <title>Waggle Beehive Web Server</title>
</head>
<body>
    <h1>Waggle Beehive Web Server</h1>
    <h3 style="color:red">NOTE: Waggle is a research project.  This website and its related systems are under active development.</h3>
    <h2>Public nodes:</h2>
    
    <p><i> UTC of last update of this page:</i> {{ utc_now }} </p>
    <table>
        {# {% autoescape false %}  {# this prevents the automatic escaping of the HTML in the table data #} #}
        
        <tr>
            <td align="center"><b>Name/<br>VSN*</b></td>
            <td align="center"><b>Node ID</td>
            <td align="center"><b>Description</td>
            <td align="center"><b>Location</td>
            <td align="center"><b>Status</td>
            <td align="center"><b>Last Connection</td>
            <td align="center"><b>Last Data</td>
            {% if show_all_nodes %}
                <td align="center"><b>Last SSH</td>
                <td align="center"><b>Last Log</td>
            {% endif %}
        </tr>
        
        {% for row in list_rows %}
            <tr>
            <td align="right"><tt><b>{{ row.name }}</b></tt></td>
            <td><a href="nodes/{{ row.node_id }}"><tt>{{ row.node_id }}</tt></a></td>
            <td>{{ row.description }}</td>
            <td>{{ row.location }}</td>
            <td align="center" style={{ "background-color:#COLOR" | replace("COLOR", row.status_color) }}>{{ row.status_label }}</td>
            <td>{{ row.last_connection }}</td>
            <td>{{ row.last_data }}</td>
            {% if show_all_nodes %}
                <td>{{ row.last_ssh }}</td>
                <td>{{ row.last_log }}</td>
            {% endif %}
            </tr>
        {% endfor %}
        {# {% endautoescape %} #}

    </table>
    * - "VSN" = "Vinyl Sticker Number"

</body>
</html>
