[
  {rabbit, [
     {tcp_listeners, []},
     {ssl_listeners, [23181]},
     {auth_mechanisms, ['EXTERNAL', 'PLAIN']},
     {ssl_options, [{cacertfile,"/usr/lib/waggle/SSL/waggleca/cacert.pem"},
                    {certfile,"/usr/lib/waggle/SSL/server/cert.pem"},
                    {keyfile,"/usr/lib/waggle/SSL/server/key.pem"},
                    {verify,verify_peer},
                    {ssl_cert_login_from, common_name},
                    {fail_if_no_peer_cert,true}]}	
   ]}
].
