[
  {rabbit, [
    {tcp_listeners, [5672]},
    {ssl_listeners, [5671]},
    {auth_mechanisms, ['PLAIN', 'EXTERNAL']},
    {ssl_options, [
      {cacertfile, "/usr/lib/waggle/SSL/waggleca/cacert.pem"},
      {certfile, "/usr/lib/waggle/SSL/server/cert.pem"},
      {keyfile, "/usr/lib/waggle/SSL/server/key.pem"},
      {verify, verify_peer},
      {fail_if_no_peer_cert, true}]},
    {ssl_cert_login_from, common_name}
  ]},
  {rabbitmq_management, [
    {listener, [
      {port, 15671},
      {ip, "0.0.0.0"},
      {ssl, true},
      {ssl_opts, [
        {cacertfile, "/usr/lib/waggle/SSL/waggleca/cacert.pem"},
        {certfile, "/usr/lib/waggle/SSL/server/cert.pem"},
        {keyfile, "/usr/lib/waggle/SSL/server/key.pem"}]}
    ]},
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]}
].
